In [1]:
import pandas as pd
import math as m
from IPython.display import display as disp
import lablib as ll
%matplotlib inline

In [2]:
data, columns, experiments = ll.read_standard_layout()

In [3]:
e = "field"

disp(data[e])

            Value    Error  ErrorRel
R        0.200000 0.005000  0.025000
N       44.000000 0.000000  0.000000
L        1.080000 0.010000  0.009259
m_st     0.005880 0.000000  0.000085
d_st     0.004500 0.000500  0.111111
L_st     0.040000 0.000500  0.012500
T_n     70.000000 0.500000  0.007143
n       10.000000 0.000000  0.000000
x_minus -0.095000 0.005000 -0.052632
x_plus   0.220000 0.005000  0.022727

In [4]:
ll.compute(name = "x_1",
           expr = lambda x_minus, x_plus: (x_plus - x_minus) / 2,
           data = data[e],
           columns = columns[e])

ll.compute(name = "J_st",
           expr = lambda m_st, L_st, d_st: m_st * (L_st**2 / 12 + (d_st/2)**2 / 4),
           data = data[e],
           columns = columns[e])

ll.compute(name = "B_0",
           expr = lambda T_n, n, R, J_st, L, x_1: (2*m.pi)/((T_n/n)*R) * ((ll.mu_0*J_st*L) / (2*m.pi*R*x_1))**(1/2),
           data = data[e],
           columns = columns[e])

disp(data[e].loc[["x_1","J_st","B_0"]])
ll.add_multi([data[e] for e in data], data[e].loc[["B_0"]])

        Value    Error  ErrorRel
x_1  0.157500 0.003536  0.022448
J_st 0.000001 0.000000  0.024853
B_0  0.000010 0.000000  0.041942

In [5]:
e = "const"

disp(data[e])

                Value        Error  ErrorRel
R            0.200000     0.005000  0.025000
N           44.000000     0.000000  0.000000
L            1.080000     0.010000  0.009259
x_minus     -0.095000     0.005000 -0.052632
x_plus       0.245000     0.005000  0.020408
freq        50.000000     0.000000  0.000000
U            0.300000     0.003333  0.011111
C       900000.000000 18000.000000  0.020000
B_0          0.000010     0.000000  0.041942

In [6]:
ll.compute(name = "x_1",
           expr = lambda x_minus, x_plus: (x_plus - x_minus) / 2,
           data = data[e],
           columns = columns[e])

ll.compute(name = "I_si",
           expr = lambda B_0, R, N, x_1, L: (2*B_0*R)/(ll.mu_0*N) * (x_1/(2*L)),
           data = data[e],
           columns = columns[e])

ll.compute(name = "I_abs",
           expr = lambda C, U, freq: C*U*freq,
           data = data[e],
           columns = columns[e])

ll.compute(name = "c",
           expr = lambda I_abs, I_si: 10*I_abs/I_si,
           data = data[e],
           columns = columns[e])
           
disp(data[e].loc[["x_1","I_si","I_abs","c"]])

                   Value             Error  ErrorRel
x_1             0.170000          0.003536  0.020797
I_si            0.005953          0.000321  0.053874
I_abs    13500000.000000     308868.904230  0.022879
c     22678180291.341423 1327364483.673486  0.058530